.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.logo {
  height: 100%;
}

.mat-toolbar.mat-primary{
  background-color: white !important;
}


@media(max-width:1025px){
  .main-menu-desktop{
      display: none;
  }
}

@media(min-width:1025px){
    mat-sidenav {
    display:none;
  }
}