@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


/* You can add global styles to this file, and also import other style files */
body, html {
 
  margin: 0 auto;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
}

.container a {
  color: white;
}
