<h1>VÅRT ERBJUDANDE</h1>
<h2>Ett kollektivt ägande - En passiv inkomst.</h2>
<p>
  Blein Investment Group är det enda investmentbolaget som är specialiserat på fastighetsmarknaden 
  och samtidigt erbjuder direkt ägande till underliggande tillgångar. Vår affärsmodell går ut på förvärva 
  fastigheter som generar ett starkt kassaflöde från dag ett. Vi utökar och tillför nya fastigheter till vår portfölj
  hela tiden. Fastigheterna genererar en månatlig inkomst till dig genom kontinuerliga hyresintäkter. 
</p>
<h2>Varför fastigheter?</h2>
<p>Börsen är en bra möjlighet för investeringar. Så är även fastighet.
   Det kan vara intressant att titta dels på marknadens volatilitet, dels på en enskild akties volatilitet.
   Volatilitet visar hur mycket en aktie svänger. Fastighetsrelaterade bolag i svenska marknaden är generellt sett 
   mer stabila och kan generera en lika bra vinst på dina pengar. Därför är det viktigt att fördela dina pengar 
   på ett smart sätt för att minska risken mot för höga exponeringar.  
</p>
<h2>Målsättning.</h2>
<p>Med hjälp av ett starkt nätverk, erfarenhet av finansieringsfrågor och 
   fastighetsexpertis är vårt mål att vinsten på dina investerade pengar 
   ska uppgå till 10% från att vi förvärvat bostaden. Gör
</p>
<h2>Varför ska man investera i Blein Investment Group?</h2>
<ul>
  <li>Vi är det enda bolaget som erbjuder ett kollektivt ägarskap 
      i den form vi erbjuder det. Det innebär att du inte behöver
      ha en stor förmögenhet för att ta del av de fastighetsobjekten
      som exklusivt förvärvas av stora investmentbolag idag. 
      Kollektivt ägarskap ger dig samma handlingskraft som de största
      investerarna får. 
  </li>
  <li>
     Vi har etablerat ett starkt nätverk med personer kopplade till
     näringslivet Därför kan vi
     förvärva fasigheter som inte nödvändigtvis finns ute att hitta 
     på marknaden.
  </li>
  <li>
    Vi har etablerat en stark relation till banken för att finansiera
    med bra hävstång. Det är en viktig nyckelfaktor för att vi ska kunna
    förhandla bra räntor för våra fastighetslån. 
  </li>
  <li>
    Det har funnits få möjigheter för sparare att ta del av värdeutveckligngen 
    på fastighetsmarknaden i en enskild fasitghet i samband med försäljningen. 
  </li>
  <li> 
    Genom ett kollektivt ägande och att pengarna sprids till flera olika 
    bestånd får du en god riskspridning. 
  </li>
  <li>Med den låga barriären slipper du se dina sparpengar förlora
    sitt värde på ett bankkonto som inte ger dig någon ränta för pengarna 
    du tjänat ihop. 
  </li>
</ul>

<h1>Hur mycket kan jag tjäna på att investera hos er?</h1>
<p>
    Hyresintäkten kommer ge dig en kontinuerlig inkomst och betalas
    ut varje månad till dig. Lite som en extra månadslön. Vi beräknar
    med att kunna generera 10% i vinst på ditt investerade kapital. 
    Exempel: Per investerar 150 000 kr blir delägare i fastigheten
    som Blein Investment Group köper. När hyresgästen tillsätts 
    får Per 15 000 kr/år eller 1 250 kr/månad. 
    Exempel 2: Per väljer att återinvestera alla pengar han tjänat 
    på hyresintäkterna. Efter 2 år, med ränta på ränta, är värdet 181 500 kr. 
    Per har då tjänat 181 500 kr plus eventuell värdeökning om fastigheten har sålts. 

    Blein Investment Group gör det enklare för dig som privatperson och företagare att investera i smarta fastigheter. Vi är nischade inom uthyrning av fastigheter. Fastigheterna som köps via oss hyrs ut och beräknas ge en årlig avkastning på 6-13%.

  Vi förvärvar fastigheter som genererar 
  dig en kontinuerlig månatlig inkomst i form av hyresintäkter. 
</p>

<h2>Vad händer med mina pengar om ni inte kan samla tillräcligt mycket kapital för att 
    förvärva en fastighet?
</h2>
<p>Flexibilitet är nyckelordet här. Våra investeringsobjekt kommer i många olika former. 
   Men oftast kvarstår förhållandet mellan investerade pengar och vinsten.
   Om vi exempelvis samlar in en sjättedel av kapitalet vi efterfrågar kan vi fortfarande lova 
   upp till 10% i vinstutdelning till dig. Vi kan exempelvis deläga fastigheten vi tänkt förvärva eller köpa färre 
   bestånd av den. 
</p>
<h2>Har ni några investeringsobjekt idag?</h2>
<p>Ja! Fyll i en intresseanmälan eller registrera dig på vår webinar för att få veta mer</p>
<h2>Hur ser er finansering</h2>